  <%= link_to question_path(question), class:"list-group-item list-group-item-action list-group-item-secondary" do %>
  <div class= "d-flex justify-content-between bd-highlight">
    <Strong class=""><%= question.title %></Strong>
    <div class= "d-flex flex-column flex-shrink-1">
      <div><%="#{question.answers.size} Answers"%></div>
    </div>
  </div>
  <div><%= question.content.to_plain_text.truncate(40) %></div>
  <div class="topics-container">
    <%= render partial: 'topics/topic', collection: question.topics %>
  </div>
<% end %>
