<%= render partial: 'shared/error_messages', locals: { model: @user }%>
<div class="row">
  <div class="col-md-4 offset-4">
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="img-field">
        <%= image_tag user_profile_picture_link(current_user), class: 'profile-img' %>
        <%= f.label :profile_picture, 'Upload New Profile Picture' %>
        <%= f.file_field :profile_picture, accept: 'image/png,image/gif,image/jpg' %>
      </div>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'mb-1 form-control' %>
      <% if @user.new_record? %>
        <div class="field">
          <%= f.label :email, 'Email: ' %>
          <%= f.text_field :email %>
        </div>
      <% else %>
        <div class="field">
          <span><b>Email: </b></span>
          <span><%= @user.email %></span>
        </div>
      <% end %>

      <%= f.submit "Edit my account", class: "mt-2 btn btn-primary" %>
    <% end %>
  </div>
</div>
