<div class="d-flex justify-content-between">
  <div class="d-flex">
    <%= image_tag user_mini_picture_link(user), class: 'profile-img rounded mini-img' %>
    <div class="ml-2">
      <Strong ><%= user.name %></Strong>
      <div class="desc"><%= extra_data %></div>
    </div>
  </div>
  <% if current_user %>
    <% if current_user.followees.include?(user) %>
      <%= button_to "Unfollow", unfollow_user_path(user), method: "POST",class:"btn btn-light" %>
    <% elsif user.id != current_user.id %>
      <%= button_to "Follow", follow_user_path(user), method: "POST",class:"btn btn-light "  %>
    <% end%>
  <% end %>
</div>
