<h1>Hello, <%= @user.name %></h1>
<div class="col-md-4 offset-4">
  <div class="text-center">
    <%= image_tag user_profile_picture_link(@user), class: 'profile-img rounded mx-auto d-block' %>
    <div ><Strong><%= @user.name %></Strong></div>
    <div><%= @user.email %></div>
    <br />
    <div>Your Topic of interests</div>
    <div class="topics-container">
      <%= render partial: 'topics/topic', collection: @user.topics %>
    </div>
    <%= button_to 'Edit Profile', edit_user_path, method: :get, class: "mt-2 btn btn-primary" %>
  </div>
</div>
 <div class= "d-flex w-auto  mt-5">
    <div class="list-group border border-secondary w-50 mr-5">
    <div class= "border-bottom border-secondary text-center p-2">Your Published Questions</div>
      <%= render partial: 'questions/question', collection: @user.questions.where.not(published_at: nil) %>
    </div>
    <div class="list-group border border-secondary w-50 ml-5">
    <div class= "border-bottom border-secondary text-center p-2">Your Drafted Questions</div>
      <%= render partial: 'questions/question', collection: @user.questions.where(published_at: nil) %>
    </div>
</div>
