<h1 class= "container">Quora Clone</h1>
<div class="home_page row">
  <div class= "col-2 topic_search ">
    <h3>Search From Topics</h3>
    <%= search_form_for @q, url: root_path, html: { method: :get } do |f| %>
      <% if logged_in? %>
        <%= label_tag "Questions from People I follow"%>
        <%= check_box_tag('follow') %>
      <% end%>
      <div class= "d-flex flex-column topic-menu">
        <% @topics.each do |topic| %>
          <div class="d-flex justify-content-between">
            <%= label_tag topic.name%>
            <%= check_box_tag('query[]', topic.name ) %>
          </div>
        <% end %>
      </div>
      <%= f.submit "Search", class:"btn btn-outline-success" %>
    <% end %>
  </div>
  <div class = "col-7 px-5 ml-4"><Strong> Your Feed</Strong>
    <%= render partial: 'questions/question', collection: @feed_questions %>
  </div>
</div>
